@{
    ViewBag.Title = "ASP.NET MVC Paging sample - Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<dl>
    <dt>@Html.ActionLink("Simple paging", "Index", "Paging")</dt>
    <dd>An example of paging a list of products.</dd>


</dl>
